html , body{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
  /*  background-image: url('../img/bac2.png');*/
    background-color: rgb(11, 81, 99);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
